* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* Navbar styling */
.hoverEffect {
  position: relative;
  text-decoration: none;
  border: none;
  /* transition: all 0.5s; */
  z-index: 1;
  border-radius: 3px;
  background-color: transparent;
  color: #a0a0a0;
  margin-right: 30px;
}

.hoverEffect:after {
  content: "";
  position: absolute;
  background-color: #cfebff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.hoverEffect:hover {
  color: white;
}

.hoverEffect:hover::after {
  width: 100%;
}

/* .hoverEffect:hover {
  box-shadow: 0 4px 0px #ffffff79; */
/* box-shadow: 0px 0px 1pc 10px #ffffff46; */
/* } */

.navContent {
  margin-left: 500px;
}

.dropdownItems {
  background-color: #e3f2fd !important;
  color: #010f36 !important;
}

.dropdownItems:hover {
  background-color: #010f36 !important;
  color: white !important;
}

/* Slider content */
.slideContent,
.slideSubContent {
  filter: drop-shadow(1px 1px 50px #000);
}

/* content styling */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 250px 100px 250px;
  background-color: #010f36;
  color: rgb(255, 255, 255);
}

/* card styling */
.cardSection {
  background-color: #e3f2fd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container1 {
  margin: auto;
  margin-top: -70px;
  width: 90%;
}

.we_offer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.we_offer_card {
  border-radius: 10px;
  overflow: hidden;
  border: none;
  transition: all 1s ease;
  width: 38%;
  box-shadow: 0px 5px 1pc #010f36;
}

.we_offer_card:hover {
  transform: scale(1.1);
}

.we_offer_card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.footer {
  padding: 20px 50px 10px 50px;
  width: 100%;
  height: 100%;
}

.footer_section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: white;
}

.footer_section1 img {
  width: 120px;
}

.section1_buttonContainer {
  display: flex;
  gap: 1rem;
}

.section1_buttonContainer button {
  padding: 5px;
  width: 90px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.navigation_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 2rem 0 3rem 0;
}

.link_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.link_container h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.footer_link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.section_links_container button {
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.section_links_container button i {
  font-size: 13px;
  display: flex;
  /* horizontal / x-axis */
  align-items: center;
  /* Vertical / y-axis */
  justify-content: center;
}

.footer_section_logos {
  width: 100%;
}

.disclamer {
  width: 95%;
  color: white;
  margin: auto;
  border-top: 1px solid white;
  padding-top: 1.5rem;
}

.logoGrid {
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  /* grid-template-columns: auto auto auto auto auto; */

  background-color: #e3f2fd;
  width: auto;
}

.grid-item {
  width: 100px;
}

/* highest - 1200 */
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 30px 150px 10px 150px;
  }
  .logoGrid {
    padding: 20px 150px 20px 150px;
    grid-template-columns: auto auto auto auto auto;
  }
  .slideContent {
    font-size: 75px !important;
  }
  .slideSubContent {
    font-size: 25px !important;
  }
}

/* highest - 900 */
@media only screen and (min-width: 900px) {
  .slider {
    margin-bottom: 100px;
  }
  .slideContent {
    font-size: 50px;
  }
  .slideSubContent {
    font-size: 20px;
  }
  .officials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 50px;
  }
  .womenContent {
    padding: 0 200px 0 200px;
  }
  .footer_1 {
    padding: 20px 50px 10px 50px;
    width: 100%;
    height: 100%;
  }
}

/* 1400 - 0 */
@media only screen and (max-width: 1400px) {
  .navContent {
    margin-left: 0px;
  }
}

/* 1200 - 0 */
@media only screen and (max-width: 1200px) {
  .hoverEffect {
    margin-right: 0px;
  }

  .content {
    padding: 30px 100px 80px 100px;
  }
  .we_offer_card {
    width: 90%;
  }
  .logoGrid {
    padding: 20px 80px 20px 80px;
    grid-template-columns: auto auto auto auto auto;
  }
}

/* 900 - 0 */
@media only screen and (max-width: 900px) {
  .navigation_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .slideContent {
    margin-bottom: 50px;
  }
  .slideSubContent {
    display: none;
  }
  .officials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .officials_1 {
    flex-direction: column-reverse;
  }
}

/* 700 - 0 */
@media only screen and (max-width: 700px) {
  .logoGrid {
    grid-template-columns: auto auto auto;
  }
  .womenFont {
    font-size: 25px !important;
  }
  .womenContent {
    display: none;
  }
  .officials {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .navigation_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 600 - 0 */
@media only screen and (max-width: 600px) {
  .slideSection {
    padding-top: 80px;
  }

  .content {
    padding: 20px 30px 20px 30px;
  }
  .we_offer_card {
    width: 100%;
  }
  .container1 {
    margin-top: 0px;
  }
}

/* 500 - 0 */
@media only screen and (max-width: 500px) {
  .navigation_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .logoGrid {
    padding: 20px 50px 20px 50px;
  }
}

/* 320 - 0 */
@media only screen and (max-width: 320px) {
  .navigation_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 400 - 0*/
@media only screen and (max-width: 320px) {
  .logoGrid {
    grid-template-columns: auto auto;
  }
}
